.review-title {
  font-size: 14px!important;
  line-height: 20px!important;
  font-weight: 700!important;
  cursor: pointer;
  font-family: "Amazon Ember",Arial,sans-serif;
}

.review-username {
  font-size: 13px;
  line-height: 19px;
  position: relative;

}

.review-username_image {
  display: inline-block;
}

.review-username_text {

  display: inline-block;
  position: absolute;
  top:12px
}

.review-body {
  font-size: 14px!important;
  line-height: 20px!important;
  word-wrap: break-word;
  font-family: "Amazon Ember",Arial,sans-serif;
  color: #0F1111;
}

.location-date {
  color: #565959!important;
  font-size: 14px!important;
  line-height: 20px!important;
  font-family: "Amazon Ember",Arial,sans-serif;
}

img {
  border-radius: 4px;
  border: 2px solid #FFF;
  width: 34px;
  height: 34px;
  border-radius: 50%;

}

.review-container {
  max-width: 80em;
  margin-bottom: 22px;
  display: block;
  line-height: 20px;
}

.helpful-count {
  font-size: 14px!important;
  line-height: 20px!important;
  color: #565959!important;
}

.helpful-button {
width: 98px;
height: 28px;
border: .5;
cursor: pointer;

}

.abuse-text {
  color: #565959!important;
  font-size: 14px!important;
    line-height: 20px!important;
}